asgiref==3.8.1
colorama==0.4.6
diff-match-patch==20241021
dj-database-url==2.3.0
Django==5.1.6
django-import-export==4.3.7
pillow==11.1.0
psycopg2-binary==2.9.10
qrcode==8.0
setuptools==75.8.2
sqlparse==0.5.3
tablib==3.8.0
tzdata==2025.1
wheel==0.45.1
whitenoise==6.8.2
